
/* ========== MAIN LAYOUT ========== */

body {
	font-family: verdana, arial;
}

#main {	
	min-width: 800px; 
	/*max-width: 1000px;*/
	margin: auto; 
}

#navbar {
	font-size: 13pt;
	font-weight: normal;
}

a:link, a:visited {
	color: #449;
	text-decoration: none;
}

a:active, a:hover {
	color: #22a;
	text-decoration: underline;
}

/* ========== COMMON CLASSES ========== */

.error { 
	color: #f00; 
}

/* ========== MULTI-CAMERA PAGE ========== */

#camera_section {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.cam_block {
	padding: 1px;
	margin: 0px;
	border: 0px;
	display: inline-block;
	background-color: #eee;
	color: #222;
	font-family: helvetica;
}

.cam_block_single {
	width: 640px;
}
.cam_block_multi {
	width: 320px;
}

.cam_info {
}

.cam_info1 {
	float: left;
	text-align: left;
}
.cam_info2 {
	float: right;
	text-align: right;
}

.cam_img {
	border: 0px;
}

/* ========== UNGROUPED STYLE ELEMENTS ========== */

#gallery { 
	text-align: center; 
}


